.button {
  padding: 8px 16px;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-positive {
  background-color: #5cb85c; /* 연두색 */
  color: #fff; /* 흰색 */
}

.button-negative {
  background-color: #d9534f; /* 빨간색 */
  color: #fff; /* 흰색 */
}
